body{
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
 

}
h1 {
  
  margin-right: 1300px;
  margin: auto;
  border-bottom: 2px solid grey;
  width: 100%; /* specify the width */
  display: inline-block;

}

.light-theme {
  background-color: #f9f9f9;
  color: #333;
}

.dark-theme {
  background-color: #333;
  color: #f9f9f9;
}

#win-image {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  display: none;
}


hr{
  width: 500px;
}
#title{
  font-size: 36px;
  font-weight: bold;
  letter-spacing: 2px;

}
#board{
  width: 330px;
  height: 130px;
  /*background-color: green;*/
  margin: 0 auto;
  margin-top: 3px;
  display: flex;
  flex-wrap: wrap;
  margin-left: 590px;

}
.tile{
  border: 2px solid lightgrey;
  width: 60px;
  height:60px;
  margin: 3.0px;
  color: black;
  font-size: 36px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;

}
.correct{
  background-color: #6AAA64;
  color: white;
  border-color: white;


}
.present{
  background-color:#C9B458;
  color: white;
  border-color: white;


}

.absent{
  background-color: #787c7e;
  color: white;
  border-color: white;

}
#startOver {
  position: relative;
  /*display: flex;*/
 
  margin-top: 270px;
  margin-left: -1100px;
  flex-wrap: wrap;
  
  background-color: rgb(115, 156, 114);
  color: white;
  padding: 5px 15px;
  font-size: 18px;
  border: 1px solid rgb(57, 109, 187, 0.8);
}

button#theme-toggle {
  display: inline-block;
  background: none;
  border: none;
  /*color: white;*/
  font-size: 30px;
  cursor: pointer;
  margin-top: -1500px;
  margin-bottom: -1000px;
  margin-right: -900px;
  margin: auto;


}
button#instructions-toggle{
  display: inline-block;
  background: none;
  border: none;
  /*color: white;*/
  font-size: 23px;
  cursor: pointer;
  margin-top: 1500px;
  margin-right: 1300px;
  margin-bottom: -900px;
  margin: auto;

  
}
#answer-bar-wrong{
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px;
  background-color: red;
  display: none;
}
#answer-bar-correct{
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px;
  background-color: lightgrey;
  display: none;
}

#answer-label-correct {
  font-weight: bold;
}


#answer-label-wrong {
  font-weight: bold;
}
#answer-wrong {
  margin-left: 5px;
  font-style: italic;
}
#answer-correct {
  margin-left: 5px;
  font-style: italic;
}



#game-container {
  width: calc(100% - 400px);
  float: left;
}

#instructions {
  border: none;
  background: none;
  width: 400px;
  float: right;
  display: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  
}



@media (max-width: 768px) {
  #board {
    margin-top: 30px;
  }
  
  #startOver {
    margin-top: 50px;
   
  }
}

